<div class="message-container" id="message-<%= message.id %>">
  <div class="message">   
    <span><%= message.user.username %></span>
    <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    <p><%= message.content %></p>        
  </div>
</div>