.booking-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%
}

.booking-window {
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

h2 {
  font-size: 44px;
  font-weight: bold;
  background-image:linear-gradient(92.97deg, #35B6FF 0.65%, #1271FF 46.36%, #CD18FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.instant-matches-list {
  padding-top: 25px;
  padding-bottom: 25px;
}

.bookings-form {
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button_to {
  letter-spacing: 2px;
  font-variant-numeric: tabular-nums;
  margin-bottom: 10px;
  font-size: 40px;
  border-radius: 50px;
  background: rgba(255,255,255,0.3);
  transition: 0.5s ease-in;
  &:hover {
    background: white;
  }
}


.instant-match {
}

// .instant-match {
//   margin: 5px;
//   padding: 10px;
//   background: rgba(255,255,255,0.3);
//   border-radius: 10px;
//   border: 1px solid rgba(255,255,255,0.5);
//   font-weight: bold;
//   color: rgb(14, 52, 112);
//   &:hover {
//     font-size: 24px;
//     margin-bottom: 4px;
//   }
// }

.hidden {
  display: none;
}

.arrow {
  cursor: pointer;
}
