// Import partials
@import "partials/calls";
@import "partials/contacts";

// Responsiveness
@media (max-width: 600px) {
  .dashboard-wrapper {
    margin: 0;
  }
}

@media(min-width: 1140px) {
  .dashboard-grid {
    grid-template-columns: 1fr 4fr;
  }
}

@media(max-width: 1140px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}

// Main structure
.dashboard-wrapper {
  padding: 16px;
  margin: 0 60px;
  display: flex;
  justify-content: center;
}

.dashboard-grid {
  display: grid;
  grid-gap: 16px;
  margin: 16px;
}

.dashboard-buttons {
  display: flex;
  margin-bottom: 15px;
}

.btn-dashboard {
  text-decoration: none;
  color: grey;
  padding: 10px 0;
  margin-right: 10px;
}

.btn-dashboard:hover {
  background-image:linear-gradient(92.97deg, #35B6FF 0.65%, #1271FF 46.36%, #CD18FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.btn-dashboard.active {
  background-image:linear-gradient(92.97deg, #35B6FF 0.65%, #1271FF 46.36%, #CD18FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  border-bottom: solid 4px #1271FF;
}

.dashboard-window {
  width: 100%;
  height: 100%;
}

// User profile
.user-info {
  text-align: center;
}

.user-badges {
  flex-wrap: wrap;
  text-align: center;
}

.user-badges-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  padding: 0;
  li {
    margin-left: 20px
  }
}
