@media (max-width: 600px) {
  .dashboard-wrapper {
    margin: 0;
  }
}

@media(min-width: 1140px) {
  .dashboard-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 1140px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
}

.dashboard-wrapper {
  padding: 16px;
  margin: 0 60px;
  display: flex;
  justify-content: center;
}

.dashboard-grid {
  display: grid;
  grid-gap: 16px;
  margin: 16px;
}

.dashboard-contacts-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  li {
    margin-left: 5px;
    margin-top: 5px;
  }
}


.user-badges {
  flex-wrap: wrap;
  text-align: center;
}

.user-badges-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  padding: 0;
  li {
    margin-left: 20px
  }
}

.booking-slots {
  color: white;
  background-color: grey;
  border: 2px solid;
  border-radius: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  -webkit-transition-duration: .15s;
  transition-duration: .15s;
  text-decoration: none;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}