// Typekit fonts

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ambroise-firmin-std:
 *   - http://typekit.com/eulas/000000000000000077359903
 * house-of-cards:
 *   - http://typekit.com/eulas/00000000000000007735c3db
 * ivymode:
 *   - http://typekit.com/eulas/00000000000000007735ce78
 * manicotti:
 *   - http://typekit.com/eulas/00000000000000003b9ae609
 * minerva-modern:
 *   - http://typekit.com/eulas/000000000000000077359a48
 * modesto-condensed:
 *   - http://typekit.com/eulas/00000000000000007735a03b
 * new-spirit-condensed:
 *   - http://typekit.com/eulas/00000000000000007735c4c1
 * niagara:
 *   - http://typekit.com/eulas/00000000000000003b9ae842
 * tenon:
 *   - http://typekit.com/eulas/00000000000000007735df15
 *   - http://typekit.com/eulas/00000000000000007735df14
 *   - http://typekit.com/eulas/00000000000000007735df11
 *
 * © 2009-2020 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-03-02 23:09:04 UTC"}*/

// @import url("https://p.typekit.net/p.css?s=1&k=kxo3pgz&ht=tk&f=14272.15556.5557.30658.31219.37381.42533.45239.45240.45241.45700&a=1494256&app=typekit&e=css");

@font-face {
font-family:"ambroise-firmin-std";
src:url("https://use.typekit.net/af/affa82/000000000000000077359903/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/affa82/000000000000000077359903/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/affa82/000000000000000077359903/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"modesto-condensed";
src:url("https://use.typekit.net/af/10cae5/00000000000000007735a03b/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/10cae5/00000000000000007735a03b/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/10cae5/00000000000000007735a03b/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"minerva-modern";
src:url("https://use.typekit.net/af/3d9e8b/000000000000000077359a48/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3d9e8b/000000000000000077359a48/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3d9e8b/000000000000000077359a48/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"manicotti";
src:url("https://use.typekit.net/af/f78d14/00000000000000003b9ae609/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f78d14/00000000000000003b9ae609/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f78d14/00000000000000003b9ae609/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"niagara";
src:url("https://use.typekit.net/af/b34451/00000000000000003b9ae842/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/b34451/00000000000000003b9ae842/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/b34451/00000000000000003b9ae842/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"house-of-cards";
src:url("https://use.typekit.net/af/0bc835/00000000000000007735c3db/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/0bc835/00000000000000007735c3db/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/0bc835/00000000000000007735c3db/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"ivymode";
src:url("https://use.typekit.net/af/408fba/00000000000000007735ce78/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/408fba/00000000000000007735ce78/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/408fba/00000000000000007735ce78/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"tenon";
src:url("https://use.typekit.net/af/67ca79/00000000000000007735df15/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/67ca79/00000000000000007735df15/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/67ca79/00000000000000007735df15/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"tenon";
src:url("https://use.typekit.net/af/997ea5/00000000000000007735df14/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/997ea5/00000000000000007735df14/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/997ea5/00000000000000007735df14/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"tenon";
src:url("https://use.typekit.net/af/32469d/00000000000000007735df11/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/32469d/00000000000000007735df11/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/32469d/00000000000000007735df11/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"new-spirit-condensed";
src:url("https://use.typekit.net/af/899497/00000000000000007735c4c1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/899497/00000000000000007735c4c1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/899497/00000000000000007735c4c1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

.tk-ambroise-firmin-std { font-family: "ambroise-firmin-std",serif; }
.tk-modesto-condensed { font-family: "modesto-condensed",serif; }
.tk-minerva-modern { font-family: "minerva-modern",sans-serif; }
.tk-manicotti { font-family: "manicotti",sans-serif; }
.tk-niagara { font-family: "niagara",serif; }
.tk-house-of-cards { font-family: "house-of-cards",serif; }
.tk-ivymode { font-family: "ivymode",sans-serif; }
.tk-tenon { font-family: "tenon",sans-serif; }
.tk-new-spirit-condensed { font-family: "new-spirit-condensed",serif; }




// Specific CSS for your home-page

// .wrapper-home {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// .home-text {
//   display: table-cell;
//   vertical-align: middle;
//   text-align: center;
//   width: 400px;
//   height: 180px;
// }

// .home-text > h3 {
//   font-family: "Playfair Display";
//   font-size: 35px;
//   font-weight: bold;
//   color: #01419F;
// }

// .home-card {
//   display: flex;
//   width: 400px;
//   height: 400px;
//   flex-direction: column;
//   background: rgba(255,255,255,0.5);
//   align-items: center;
//   justify-content: space-between;
//   border-radius: 30px;
// }

// .logo {
//   margin: 40px;

// }

// .home-button {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   bottom: 0;
//   width: 100%;
//   position: relative;
//   height: 100px;
//   background: linear-gradient(92.97deg, #35B6FF 0.65%, #1271FF 46.36%, #CD18FB 100%);
//   border-bottom-right-radius: 30px;
//   border-bottom-left-radius: 30px;
// }

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  --color-text: #a5a5a5;
  --color-bg: #191613;
  --color-link: #fff;
  --color-link-hover: #fff;
  --color-text-circle-1: #48423c;
  --color-text-circle-2: #48423c;
  --color-text-circle-3: #48423c;
  --color-text-circle-4: #48423c;
  --font-circle-1: ivymode, sans-serif;
  --font-weight-circle-1: 300;
  --font-circle-2: modesto-condensed, serif;
  --font-weight-circle-2: 400;
  --font-circle-3: minerva-modern, sans-serif;
  --font-weight-circle-3: 400;
  --font-circle-4: niagara, serif;
  --font-weight-circle-4: 300;
  --color-button: #fff;
  --color-text-button: #fff;
  --dim-button: 90px;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: tenon, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.demo-2 {
  --color-text: #a5a5a5;
  --color-bg: #000000;
  --color-link: #ea34a6;
  --color-link-hover: #fff;
  --color-font-circle: #7b7772;
  --color-button: #ea34a6;
  --color-text-button: #000000;
  --color-text-circle-1: #ea34a6;
  --color-text-circle-2: #422163;
  --color-text-circle-3: #212044;
  --color-text-circle-4: #292725;
  --font-circle-1: niagara, serif;
  --font-weight-circle-1: 300;
  --font-circle-2: ambroise-firmin-std, serif;
  --font-weight-circle-2: 300;
  --font-circle-3: modesto-condensed, serif;
  --font-weight-circle-3: 400;
  --font-circle-4: niagara, serif;
  --font-weight-circle-4: 300;
}

.demo-3 {
  --color-text: #292725;
  --color-bg: #dad4d1;
  --color-link: #a99c90;
  --color-link-hover: #292725;
  --color-font-circle: #7b7772;
  --color-button: #a99c90;
  --color-text-button: #fff;
  --color-text-circle-1: #272524;
  --color-text-circle-2: #272524;
  --color-text-circle-3: #272524;
  --color-text-circle-4: #272524;
  --font-circle-1: modesto-condensed, serif;
  --font-weight-circle-1: 400;
  --font-circle-2: ambroise-firmin-std, serif;
  --font-weight-circle-2: 300;
  --font-circle-3: modesto-condensed, serif;
  --font-weight-circle-3: 400;
  --font-circle-4: niagara, sans-serif;
  --font-weight-circle-4: 300;
}

/* Page Loader */
.js body::before,
.js body::after {
  content: '';
  position: fixed;
  z-index: 1000;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}

.js body::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js body::after {
  content: 'Loading';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 1;
  color: var(--color-link);
}

.js .loading::before,
.js .loading::after {
  opacity: 1;
  pointer-events: auto;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
}

a:hover {
  text-decoration: none;
  color: var(--color-link-hover);
  outline: none;
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
   that don't support :focus-visible */
  outline: none;
  background: lightgrey;
}

a:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
   that do support :focus-visible */
  background: transparent;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
   keyboard-focus on browsers that do support
   :focus-visible */
  outline: 2px solid red;
  background: transparent;
}

.frame {
  padding: 3rem 5vw;
  text-align: center;
  position: relative;
  font-weight: 500;
  will-change: transform;
}

.js .frame {
  opacity: 0;
}

.frame__title {
  font-size: 1rem;
  margin: 0 0 1rem;
  font-weight: 500;
}

.frame__links {
  display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
  margin: 0 1rem 0 0;
}

.frame__demos {
  margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
  color: var(--color-text);
}

.enter {
  display: block;
  border: 0;
  width: var(--dim-button);
  height: var(--dim-button);
  position: absolute;
  left: calc(50% - var(--dim-button) / 2 );
  top: calc(50% - var(--dim-button) / 2 );
  font: inherit;
  font-weight: 500;
  cursor: pointer;
  background: none;
  color: var(--color-text-button);
  padding: 0;
}

.enter:focus,
.enter:hover,
.enter:active {
  outline: none;
}

.enter__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--color-button);
  background: linear-gradient(92.97deg, #35B6FF 0.65%, #1271FF 46.36%, #CD18FB 100%);
}

.enter__text {
  position: relative;
}

.js .enter {
  opacity: 0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 2rem;
  height: calc(100vh - 13rem);
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.js .content {
  opacity: 0;
}

.content p {
  font-size: 3 rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: #01419F;
  font-size: clamp(1.25rem,6vw,2.15rem);
  line-height: 1.25;
  max-width: 900px;
  margin: 0;
  pointer-events: none;
  will-change: transform;
}

.circles {
  pointer-events: none;
  position: fixed;
   --dim: 186vmin;
  width: var(--dim);
  height: var(--dim);
  top: calc(50% - var(--dim) / 2 );
  left: calc(50% - var(--dim) / 2 );
}

.demo-3 .circles {
  --dim: 206vmin;
}

.circles__text {
  text-transform: uppercase;
  transform-origin: 700px 700px;
  will-change: transform, opacity;
}

.circles__text--1 {
  font-size: 25vmin;
  font-size: clamp(170px,25vmin,180px);
  font-family: var(--font-circle-1);
  font-weight: var(--font-weight-circle-1);
  fill: var(--color-text-circle-1);
}

.circles__text--2 {
  font-size: 17vmin;
  font-size: clamp(136px,17vmin,153px);
  font-family: var(--font-circle-2);
  font-weight: var(--font-weight-circle-2);
  fill: var(--color-text-circle-2);
}

.circles__text--3 {
  font-size: 13.5vmin;
  font-size: clamp(110px,13.5vmin,120px);
  font-family: var(--font-circle-3);
  font-weight: var(--font-weight-circle-3);
  fill: var(--color-text-circle-3);

}

.circles__text--4 {
  font-size: 9.5vmin;
  font-size: clamp(85px,9.5vmin,94px);
  font-family: var(--font-circle-4);
  font-weight: var(--font-weight-circle-4);
  fill: var(--color-text-circle-4);
}

@media screen and (min-width: 53em) {
  .frame {
    position: fixed;
    text-align: left;
    z-index: 100;
    top: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 2rem;
    pointer-events: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'title links'
              '... ...'
              '... demos';
  }
  .frame__title {
    margin: 0;
    grid-area: title;
  }
  .frame__menu {
    grid-area: menu;
    justify-self: end;
  }
  .frame__links {
    grid-area: links;
    padding: 0;
    justify-self: end;
  }
  .frame__demos {
    margin: 0;
    grid-area: demos;
    justify-self: end;
  }
  .frame a {
    pointer-events: auto;
  }
  .content {
    height: 100vh;
    justify-content: center;
    text-align: left;
  }
}
