.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.end-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}