.contact-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px;
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.9);
}

.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chat-link {
  font-size: 26px;
  margin-right: 10px;
  background-image:linear-gradient(92.97deg, #35B6FF 0.65%, #1271FF 46.36%, #CD18FB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}