<div class="home-container">
  <div class="home-card">
    <%= image_tag 'logo_new.png' %>
    <div class="button-container">
      <%= link_to 'Book a meeting', bookings_path, class: 'btn-primary' %>
    </div>
  </div>
</div>