<div class="home-container">
  <div class="glass-card" id="home-card">
    <div id="home-image-container">
      <%= image_tag 'logo_new.png', id: 'home-logo' %>
    </div>
    <div id="home-button-container">
      <%= link_to 'Book a meeting', bookings_path, class: 'btn-primary', id: 'btn-home' %>
    </div>
  </div>
</div>