
<div class="container">
  
  <div id="videos"
       data-controller="video"
       data-video-api-key="<%= ENV['VONAGE_API_KEY'] %>"
       data-video-session-id="<%= @video_room.session_id %>"
       data-video-token="<%= @token %>"
      >
      <div id="subscriber"></div>
      <div id="publisher"></div>
  </div>
</div>
  
