
<div class="video-container">
  
  <div id="videos"
       data-controller="video"
       data-video-api-key="<%= ENV['VONAGE_API_KEY'] %>"
       data-video-session-id="<%= @video_room.session_id %>"
       data-video-token="<%= @token %>"
      >
      <div id="subscriber"></div>
      <div id="publisher"></div>
  </div>

  <div class="button">
    <%= link_to "End call", end_video_room_path(@video_room), class: "btn btn-primary" %>
  </div>
</div>
  
