.booking-btn {
  color: white;
  background-color: #FF1493;
  padding: 10px 30px;
  margin-bottom: 6px;
  border-radius: 5px;
  width: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #FF1493;
  border-color: #FF1493;
  border-radius: 5px;
  font-weight: bold;
 }

.btn-primary:hover {
  color: #fff;
  background-color:#FF1493;
  border-color:  #FF1493
}

.btn-success {
  color: #fff;
  background-color: #FF1493;
  border-color: #FF1493;
  border-radius: 5px;
  font-weight: bold;

}

.btn-success:hover {
  color: #fff;
  background-color:#FF1493;
  border-color:  #FF1493
}