.booking-btn {
  color: white;
  background-color: #073470;
  border-color:  #fff;
  padding: 10px 30px;
  margin-bottom: 6px;
  border-radius: 5px;
  width: 100%;
}

.btn-primary {
  color: #fff;
  background-color: #073470;
  border-color:  #fff;
  border-radius: 5px;
  font-weight: bold;
 }

.btn-primary:hover {
  color: #fff;
  background-color: #073470;
  border-color:  #fff;
}

.btn-success {
  color: #fff;
  background-color: #073470;
  border-color:  #fff;
  border-radius: 5px;
}

.btn-success:hover {
  color: #fff;
  background-color: #073470;
  border-color:  #fff;
}

.badge-button {
  content-align: center;
  background: none;
  border: none;
  margin: 0;
  height: 25px;
  width: 30px;
}
