.booking-btn {
  color: #12A6FA;
  background-color: #FFFFFF;
  border-color:  #82B3FD;
  padding: 0.7rem 0.75rem;
  width: 375px;
  height: 51px;
}

.btn-primary {
  color: #12A6FA;
  background-color:#FFFFFF;
  border-color:  #82B3FD;
  border-radius: 25px;
  width: 375px;
  height: 51px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.7rem 0.75rem;
 }

.btn-primary:hover {
  color: #FFFFFF;
  background-color: #12A6FA;
  border-color:  #fff;
}

.btn-primary:active {
background-color: #009CF4 !important;
}

.btn-success {
  color: #12A6FA;
  background-color: #FFFFFF;
  color: #12A6FA;
  border-color:  #fff;
  border-radius: 5px;
}

.btn-success:hover {
  color: #fff;
  background-color: #12A6FA;
  border-color:  #fff;
}

.badge-button {
  content-align: center;
  background: none;
  border: none;
  margin: 0;
  height: 25px;
  width: 30px;
}
