.ui-timepicker-list {
  li {
    text-align: center;
    font-size: 44px;
    font-variant-numeric: tabular-nums;
  }
}

.ui-timepicker-input {
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}
