.ui-timepicker-list {
  li {
    text-align: center;
    font-size: 30px;
    font-variant-numeric: tabular-nums;
    background: rgba( 255, 255, 255, 0.3 );
    backdrop-filter: blur(8.0px);
    -webkit-backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.5); 
    color: #1D6DFF;
    margin-bottom: 5px;
    &:hover {
      background: white;
      color: #1D6DFF;
    }
  }
}

.ui-timepicker-input {
  text-align: center;
  font-size: 30px;
  margin-bottom: 8px;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur(5.0px);
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.4 ); 
  color: #1D6DFF;
}

.ui-timepicker-wrapper {
  background: none;
  box-shadow: none;
  border: none;
  &:hover {
    background: none;
  }
}
