.ui-timepicker-pm {
  text-align: center;
  font-size: 20px;
}

.ui-timepicker-am {
  text-align: center;
  font-size: 20px;
}

.ui-timepicker-input {
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}